.root {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f0f0f0;
  flex-direction: column;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0px;
  background-color: white;
}

.table>thead>tr, .table>tbody>tr {
  height: 100px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #e5e5e5;
}
