<div class="root">
  <table class="table">
    <thead>
      <tr width="100%">
        <th width="20%">排名</th>
        <th width="20%">用户</th>
        <th width="30%">今日出单</th>
        <th width="30%">累计出单</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in lists">
        <td>
          <img v-if="index == 0" src="./imgs/first.png" width="15px" height="25px" />
          <img v-if="index == 1" src="./imgs/second.png" width="15px" height="25px" />
          <img v-if="index == 2" src="./imgs/third.png" width="15px" height="25px" />
          <p v-if="index >2" v-text="index+1" />
        </td>
        <td v-text="item.name"></td>
        <td v-text="item.todayCount"></td>
        <td v-text="item.totalCount"></td>
      </tr>
    </tbody>
  </table>
</div>
