.root {
  width: 100%;
  height: 100%;
  padding-left: calc(40px * 1.172);
  padding-right: calc(40px * 1.172);
  padding-top: calc(50px * 1.172);
  background-color: white;
}

.tv-apply-raise {
  width: 100%;
  font-size: calc(41px * 1.172);
  line-height: calc(60px * 1.172);
  text-align: center;
  color: #111111;
  font-weight: bold;
}

.input-box {
  width: 100%;
  height: calc(80px * 1.172);
  margin-top: calc(30px * 1.172);
  display: flex;
  align-items: center;
  border-bottom: calc(2px * 1.172) #bbbbbb solid;
}

.input-box img {
  width: calc(26px * 1.172);
  margin-left: calc(20px * 1.172);
}

.input-box input {
  height: calc(60px * 1.172);
  flex: 1;
  font-size: calc(31px * 1.172);
  line-height: calc(60px * 1.172);
  padding-left: calc(20px * 1.172);
  color: #666666;
  border-style: none;
}

.tip {
  margin-top: calc(30px * 1.172);
  line-height: calc(60px * 1.172);
  font-size: calc(31px * 1.172);
  color: #111111;
}

.step {
  width: 100%;
  position: relative;
  padding-top: calc(15px * 1.172);
}

.step div {
  line-height: calc(40px * 1.172);
  font-size: calc(26px * 1.172);
  color: #707070;
}

.step img {
  width: calc(168px * 1.172);
  position: absolute;
  top: 0;
  right: calc(10px * 1.172);
}

.btn-apply {
  width: 80%;
  height: calc(80px * 1.172);
  margin: calc(60px * 1.172) auto calc(30px * 1.172) auto;
  font-size: calc(26px * 1.172);
  text-align: center;
  line-height: calc(80px * 1.172);
  border-width: calc(4px * 1.172);
  border-radius: calc(10px * 1.172);
  background-color: #dadada;
  color: white;
}
